<header id="header" class="header fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <a href="index.html">
                    <%= image_tag(image_path('Logo-white.png')) %>
                    <%= image_tag(image_path('Logo.png')) %>
                </a>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Products</a></li>
                    <li><a href="#customers">Customers</a></li>
                    <li><a href="#demo">Demo</a></li>
                    <li><a href="#support">Support</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </nav>

        </div>
    </header>