<section id="support" class="support">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Support</h2>
                    <p>LET'S CONNECT</p>
                </div>

                <div class="row content" data-aos="fade-up">

                    <div class="col-md-7">
                        <div class="section-title2">
                            <p>WRITE TO US</p>
                        </div>
                        <h5> Mail to: <a href="mailto:support@gwayerp.com">support@gwayerp.com</a> </h5>

                    </div>
                    <div class="col-md-5">
                        <div class="section-title2">
                            <p>Query</p>
                        </div>
                        <button type="submit" class="btn-green" data-toggle="modal" data-target="#queryModal">Submit a Query</button>

                    </div>
                </div>
                <div class="col-md-12 p-0 contact" data-aos="fade-up">
                    <div class="section-title2 mt-5">
                        <p>Feedback</p>
                    </div>

                    <form class="email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="fname" class="form-control" id="fname" placeholder="Your Name" />
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="name" class="form-control" name="fcname" id="fcname" placeholder="Your Company Name" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="cdetail" class="form-control" id="cdetail" placeholder="Your Contact Detail" />
                            </div>
                            <div class="col-md-6 form-group">
                                <textarea class="form-control" name="address" rows="1" placeholder="Address"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="feedback" rows="4" placeholder="Your Feedback"></textarea>
                            <div class="mx-chr">(Max 5000 Characters)</div>
                        </div>
                       <!--  <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label>Attach if any</label>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="uploadfile" />
                                        <label class="custom-file-label" for="uploadfile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="text-center">
                            <button type="submit">Send Feedback</button>
                        </div>
                    </form>
                </div>



            </div>
        </section>
